# Python Virtual Environments (Środowiska Wirtualne)
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / cache / DLL files (Pliki pamięci podręcznej i biblioteki kompilowane)
__pycache__/
*.py[cod]
*$py.class
*.so
*.dll
*.pyd

# Visual Studio & IDE files (Pliki tymczasowe Visual Studio)
.vs/
*.suo
*.user
*.userossc
*.sln.docstates
[Dd]ebug/
[Rr]elease/
x64/
x86/

# Audio Recordings & Output Files (Pliki nagrań audio)
recordings/
*.wav
*.mp3
*.m4a

# Model Cache & Temp Data
.cache/
*.jit

# Zmienne środowiskowe i sekrety (nie publikować na GitHubie!)
.env